__pycache__/
*.pyc
.DS_Store
.idea/
node_modules/
dist/
build/
*.sqlite3
*.egg-info/
coverage/
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
# Virtual Environment
venv/
.venv/
env/

# VSCode
.vscode/
